body {
  background-color: #0952a0;
  text-align: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}
#level-maintitle{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.24rem;
  margin:  5%;
  color: #FEF2BF;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: auto;

}

.btn {
  margin: 4px;
  display: inline-block;
  border-radius: 5%;
  width: 10rem;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}



.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
